body {
    font-family: Helvetica;
    font-size: 17px;
    text-align: center; 
    background-color: white; 
    margin-bottom: 80px;
}
.main {
    margin-top: 150px; /* Add a top margin to avoid content overlay */
}

div.left-side {
    text-align: right; 
    padding: 10px 20px 10px 0px;
}
div.right-side {
    text-align: left; 
    padding: 10px 0px 10px 0px;
}
div.left-side.text {
    padding-left: 100px;
}

div.header {
    padding-top: 80px;
    overflow: hidden;
    background-color: rgba(255,255,255, 0);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

div.footer {
    margin-top: 100px;
    text-align: center;
}

img {
    width: 90%;
}
.index img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.index img:hover {
    opacity: 0.85;
}
a, a:hover, a:visited, a:active, a:link {
    text-decoration : none;
    color : #000;
}

p.text-header {
    margin-bottom: 3px;
    color: #555;
}
p.text-body {
    color: #999;
}
p.text-footer {
    color: #aaa;
}
p.text-contact {
    color: #999;
}

p.text-header.landing {
    margin-bottom: 0px;
}

p.text-footer.landing {
    margin-bottom: 0px;
}


div.project-description {
    margin-bottom: 5px;
}
.fixed {
    position: fixed;
}
div.contact {
    padding-top: 150px;
}
.pic {
    margin-top: 10px;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.grey {
    color: #aaa;
}
.red {
    color: red;
}

.text-iphone {
    width: 60%;
    font-size:24px;
}
.larger-font {
    font-size:20px;
}
.larger-font-24 {
    font-size:24px;
}
.larger-font-28 {
    font-size:28px;
}

.larger-font-32 {
    font-size:32px;
}